* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/*****& CONTAINER *****/

.container-fluid {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*****& ROW *****/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*****& COLUMN *****/

/* todo - Regole comuni a tutte le colonne */

[class^="col"] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

/* todo - Colonne che si dividono lo spazio equamente */

.col {
  flex-grow: 1;
}

/* todo - Colonne che occupano i 12esimi specificati */

.col-1 {
  flex-basis: calc(100% / 12);
  max-width: calc(100% / 12);
}
.col-2 {
  flex-basis: calc(100% / 12 * 2);
  max-width: calc(100% / 12 * 2);
}

.col-3 {
  flex-basis: calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3);
}

.col-4 {
  flex-basis: calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4);
}

.col-5 {
  flex-basis: calc(100% / 12 * 5);
  max-width: calc(100% / 12 * 5);
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: calc(100% / 12 * 7);
  max-width: calc(100% / 12 * 7);
}

.col-8 {
  flex-basis: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
}

.col-9 {
  flex-basis: calc(100% / 12 * 9);
  max-width: calc(100% / 12 * 9);
}

.col-10 {
  flex-basis: calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10);
}

.col-11 {
  flex-basis: calc(100% / 12 * 11);
  max-width: calc(100% / 12 * 11);
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

/*****& OFFSET *****/

.offset-1 {
  margin-left: calc(100% / 12);
}

.offset-2 {
  margin-left: calc(100% / 12 * 2);
}

.offset-3 {
  margin-left: calc(100% / 12 * 3);
}

.offset-4 {
  margin-left: calc(100% / 12 * 4);
}

.offset-5 {
  margin-left: calc(100% / 12 * 5);
}

.offset-6 {
  margin-left: calc(100% / 12 * 6);
}

.offset-7 {
  margin-left: calc(100% / 12 * 7);
}

.offset-8 {
  margin-left: calc(100% / 12 * 8);
}

.offset-9 {
  margin-left: calc(100% / 12 * 9);
}

.offset-10 {
  margin-left: calc(100% / 12 * 10);
}

.offset-11 {
  margin-left: calc(100% / 12 * 11);
}

/*****& DISPLAY UTILITIES *****/

.d-none {
  display: none;
}

.d-line {
  display: inline;
}

.d-line-blk {
  display: inline-block;
}

.d-blk {
  display: block;
}

/***^ Display Flex  ***/

.d-line-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

/*****& ALIGNMENT UTILITIES *****/

/***^ Flex alignement ***/

.content-start {
  justify-content: flex-start;
  text-align: start;
}

.content-center {
  justify-content: center;
  text-align: center;
}

.content-end {
  justify-content: flex-end;
  text-align: end;
}

/* todo - Se non specifichiamo l'align-items, di default ha valore STRETCH (align-items si applica solamente ai figli diretti e non agli elementi - figli dei figli -) */
.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

/***^ Text Alignement ***/

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/*****& TEXT STYLE UTILS *****/

/***^ Title Size  ***/
h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14x;
}

h6 {
  font-size: 12px;
}

/***^ Font decoration / style ***/
.no-dec {
  text-decoration: none;
}

.txt-und {
  text-decoration: underline;
}

.txt-ita {
  font-style: italic;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}
