* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* & ROW */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* & COLUMN */

/* ~ Regole comuni a tutte le colonne */
[class^="col"] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

/* ~ Colonne che si dividono lo spazio equamente */
.col {
  flex-grow: 1;
}

/* ~ Colonne che occupano i 12esimi specificati */
.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
