* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

/*~**** CONTAINER *****/

.container-fluid {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*~**** ROW *****/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*~**** COLUMN *****/

/* < Regole comuni a tutte le colonne */

[class^="col"] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

/* < Colonne che si dividono lo spazio equamente */

.col {
  flex-grow: 1;
}

/* < Colonne che occupano i 12esimi specificati */

.col-1 {
  flex-basis: calc(100% / 12);
  max-width: calc(100% / 12);
}
.col-2 {
  flex-basis: calc(100% / 12 * 2);
  max-width: calc(100% / 12 * 2);
}

.col-3 {
  flex-basis: calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3);
}

.col-4 {
  flex-basis: calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4);
}

.col-5 {
  flex-basis: calc(100% / 12 * 5);
  max-width: calc(100% / 12 * 5);
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: calc(100% / 12 * 7);
  max-width: calc(100% / 12 * 7);
}

.col-8 {
  flex-basis: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
}

.col-9 {
  flex-basis: calc(100% / 12 * 9);
  max-width: calc(100% / 12 * 9);
}

.col-10 {
  flex-basis: calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10);
}

.col-11 {
  flex-basis: calc(100% / 12 * 11);
  max-width: calc(100% / 12 * 11);
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

/*~**** OFFSET *****/

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: calc(100% / 12);
}

.offset-2 {
  margin-left: calc(100% / 12 * 2);
}

.offset-3 {
  margin-left: calc(100% / 12 * 3);
}

.offset-4 {
  margin-left: calc(100% / 12 * 4);
}

.offset-5 {
  margin-left: calc(100% / 12 * 5);
}

.offset-6 {
  margin-left: calc(100% / 12 * 6);
}

.offset-7 {
  margin-left: calc(100% / 12 * 7);
}

.offset-8 {
  margin-left: calc(100% / 12 * 8);
}

.offset-9 {
  margin-left: calc(100% / 12 * 9);
}

.offset-10 {
  margin-left: calc(100% / 12 * 10);
}

.offset-11 {
  margin-left: calc(100% / 12 * 11);
}

/* ~**** GUTTER  *****/
/* < PADDING NEGATIVO NON ESISTE */

.row.g-05 {
  margin-left: -5px;
  margin-right: -5px;
}

.row.g-05 > [class^="col"] {
  padding-left: 5px;
  padding-right: 5px;
}

.row.g-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.row.g-1 > [class^="col"] {
  padding-left: 10px;
  padding-right: 10px;
}

.row.g-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.row.g-2 > [class^="col"] {
  padding-left: 20px;
  padding-right: 20px;
}

.row.g-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.row.g-3 > [class^="col"] {
  padding-left: 30px;
  padding-right: 30px;
}

/*~**** DISPLAY UTILITIES *****/

.d-none {
  display: none;
}

.d-line {
  display: inline;
}

.d-line-blk {
  display: inline-block;
}

.d-blk {
  display: block;
}

/*ç** Display Flex  ***/

.d-line-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

/*~**** ALIGNMENT UTILITIES *****/

/*ç** Flex alignement ***/

.content-start {
  justify-content: flex-start;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: flex-end;
}

.content-space-a {
  justify-content: space-around;
}

.content-space-btn {
  justify-content: space-between;
}

.content-space-evl {
  justify-content: space-evenly;
}

/**
 *< Se non specifichiamo l'ALIGN-ITEMS, questo di default ha valore STRETCH
 *< align-items si applica solamente ai figli diretti
 *< e non agli elementi - figli dei figli -)
 */
.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

/* < Self */

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

/*ç** Text Alignement ***/

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/*ç** Font decoration - style ***/

.no-dec {
  text-decoration: none;
}

.txt-und {
  text-decoration: underline;
}

.txt-ita {
  font-style: italic;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* ~ MEDIA SCREEN #SMALL#  */

@media screen and (min-width: 576px) {
  /* < Colonne che si dividono lo spazio equamente */

  .col-sm {
    flex-grow: 1;
  }

  /* < Colonne che occupano i 12esimi specificati */

  .col-sm-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
  }
  .col-sm-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
  }

  .col-sm-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
  }

  .col-sm-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }

  .col-sm-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }

  .col-sm-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
  }

  .col-sm-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
  }

  .col-sm-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }

  .col-sm-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* & Offset  */

  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: calc(100% / 12);
  }

  .offset-sm-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .offset-sm-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .offset-sm-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .offset-sm-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .offset-sm-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .offset-sm-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .offset-sm-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .offset-sm-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .offset-sm-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .offset-sm-11 {
    margin-left: calc(100% / 12 * 11);
  }

  /* ~**** GUTTER  *****/

  .row.g-sm-05 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.g-sm-05 > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row.g-sm-1 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .row.g-sm-1 > [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.g-sm-2 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .row.g-sm-2 > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row.g-sm-3 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .row.g-sm-3 > [class^="col"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  /*~**** DISPLAY UTILITIES *****/

  .sm-d-none {
    display: none;
  }

  .sm-d-line {
    display: inline;
  }

  .sm-d-line-blk {
    display: inline-block;
  }

  .sm-d-blk {
    display: block;
  }

  /*ç** Display Flex  ***/

  .sm-d-line-flex {
    display: inline-flex;
  }

  .sm-d-flex {
    display: flex;
    flex-direction: row;
  }

  .sm-d-flex-col {
    display: flex;
    flex-direction: column;
  }

  /*~**** ALIGNMENT UTILITIES *****/

  /*ç** Flex alignement ***/

  .sm-content-start {
    justify-content: flex-start;
  }

  .sm-content-center {
    justify-content: center;
  }

  .sm-content-end {
    justify-content: flex-end;
  }

  .sm-content-space-a {
    justify-content: space-around;
  }

  .sm-content-space-btn {
    justify-content: space-between;
  }

  .sm-content-space-evl {
    justify-content: space-evenly;
  }

  /**
 *< Se non specifichiamo l'ALIGN-ITEMS, questo di default ha valore STRETCH
 *< align-items si applica solamente ai figli diretti
 *< e non agli elementi - figli dei figli -)
 */
  .sm-align-start {
    align-items: flex-start;
  }

  .sm-align-center {
    align-items: center;
  }

  .sm-align-end {
    align-items: flex-end;
  }

  /* < Self */

  .sm-self-start {
    align-self: flex-start;
  }

  .sm-self-center {
    align-self: center;
  }

  .sm-self-end {
    align-self: flex-end;
  }

  /*ç** Text Alignement ***/

  .sm-txt-left {
    text-align: left;
  }

  .sm-txt-center {
    text-align: center;
  }

  .sm-txt-right {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  /* < Colonne che si dividono lo spazio equamente */

  .col-md {
    flex-grow: 1;
  }

  /* < Colonne che occupano i 12esimi specificati */

  .col-md-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
  }
  .col-md-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* & Offset  */

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: calc(100% / 12);
  }

  .offset-md-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .offset-md-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .offset-md-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .offset-md-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .offset-md-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .offset-md-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .offset-md-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .offset-md-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .offset-md-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .offset-md-11 {
    margin-left: calc(100% / 12 * 11);
  }

  /* ~**** GUTTER  *****/

  .row.g-md-05 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.g-md-05 > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row.g-md-1 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .row.g-md-1 > [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.g-md-2 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .row.g-md-2 > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row.g-md-3 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .row.g-md-3 > [class^="col"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  /*~**** DISPLAY UTILITIES *****/

  .md-d-none {
    display: none;
  }

  .md-d-line {
    display: inline;
  }

  .md-d-line-blk {
    display: inline-block;
  }

  .md-d-blk {
    display: block;
  }

  /*ç** Display Flex  ***/

  .md-d-line-flex {
    display: inline-flex;
  }

  .md-d-flex {
    display: flex;
    flex-direction: row;
  }

  .md-d-flex-col {
    display: flex;
    flex-direction: column;
  }

  /*~**** ALIGNMENT UTILITIES *****/

  /*ç** Flex alignement ***/

  .md-content-start {
    justify-content: flex-start;
  }

  .md-content-center {
    justify-content: center;
  }

  .md-content-end {
    justify-content: flex-end;
  }

  .md-content-space-a {
    justify-content: space-around;
  }

  .md-content-space-btn {
    justify-content: space-between;
  }

  .md-content-space-evl {
    justify-content: space-evenly;
  }

  /**
   *< Se non specifichiamo l'ALIGN-ITEMS, questo di default ha valore STRETCH
   *< align-items si applica solamente ai figli diretti
   *< e non agli elementi - figli dei figli -)
   */
  .md-align-start {
    align-items: flex-start;
  }

  .md-align-center {
    align-items: center;
  }

  .md-align-end {
    align-items: flex-end;
  }

  /* < Self */

  .md-self-start {
    align-self: flex-start;
  }

  .md-self-center {
    align-self: center;
  }

  .md-self-end {
    align-self: flex-end;
  }

  /*ç** Text Alignement ***/

  .md-txt-left {
    text-align: left;
  }

  .md-txt-center {
    text-align: center;
  }

  .md-txt-right {
    text-align: right;
  }
}

@media screen and (min-width: 992px) {
  /* < Colonne che si dividono lo spazio equamente */

  .col-lg {
    flex-grow: 1;
  }

  /* < Colonne che occupano i 12esimi specificati */

  .col-lg-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
  }
  .col-lg-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
  }

  .col-lg-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
  }

  .col-lg-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }

  .col-lg-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }

  .col-lg-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
  }

  .col-lg-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
  }

  .col-lg-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }

  .col-lg-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* & Offset  */

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: calc(100% / 12);
  }

  .offset-lg-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .offset-lg-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .offset-lg-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .offset-lg-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .offset-lg-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .offset-lg-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .offset-lg-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .offset-lg-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .offset-lg-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .offset-lg-11 {
    margin-left: calc(100% / 12 * 11);
  }
  /* ~**** GUTTER  *****/

  .row.g-lg-05 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.g-lg-05 > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row.g-lg-1 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .row.g-lg-1 > [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.g-lg-2 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .row.g-lg-2 > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row.g-lg-3 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .row.g-lg-3 > [class^="col"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  /*~**** DISPLAY UTILITIES *****/

  .lg-d-none {
    display: none;
  }

  .lg-d-line {
    display: inline;
  }

  .lg-d-line-blk {
    display: inline-block;
  }

  .lg-d-blk {
    display: block;
  }

  /*ç** Display Flex  ***/

  .lg-d-line-flex {
    display: inline-flex;
  }

  .lg-d-flex {
    display: flex;
    flex-direction: row;
  }

  .lg-d-flex-col {
    display: flex;
    flex-direction: column;
  }

  /*~**** ALIGNMENT UTILITIES *****/

  /*ç** Flex alignement ***/

  .lg-content-start {
    justify-content: flex-start;
  }

  .lg-content-center {
    justify-content: center;
  }

  .lg-content-end {
    justify-content: flex-end;
  }

  .lg-content-space-a {
    justify-content: space-around;
  }

  .lg-content-space-btn {
    justify-content: space-between;
  }

  .lg-content-space-evl {
    justify-content: space-evenly;
  }

  /**
   *< Se non specifichiamo l'ALIGN-ITEMS, questo di default ha valore STRETCH
   *< align-items si applica solamente ai figli diretti
   *< e non agli elementi - figli dei figli -)
   */
  .lg-align-start {
    align-items: flex-start;
  }

  .lg-align-center {
    align-items: center;
  }

  .lg-align-end {
    align-items: flex-end;
  }

  /* < Self */

  .lg-self-start {
    align-self: flex-start;
  }

  .lg-self-center {
    align-self: center;
  }

  .lg-self-end {
    align-self: flex-end;
  }

  /*ç** Text Alignement ***/

  .lg-txt-left {
    text-align: left;
  }

  .lg-txt-center {
    text-align: center;
  }

  .lg-txt-right {
    text-align: right;
  }
}

@media screen and (min-width: 1200px) {
  /* < Colonne che si dividono lo spazio equamente */

  .col-xl {
    flex-grow: 1;
  }

  /* < Colonne che occupano i 12esimi specificati */

  .col-xl-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
  }
  .col-xl-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
  }

  .col-xl-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
  }

  .col-xl-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }

  .col-xl-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }

  .col-xl-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
  }

  .col-xl-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
  }

  .col-xl-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }

  .col-xl-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* & Offset  */

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: calc(100% / 12);
  }

  .offset-xl-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .offset-xl-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .offset-xl-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .offset-xl-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .offset-xl-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .offset-xl-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .offset-xl-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .offset-xl-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .offset-xl-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .offset-xl-11 {
    margin-left: calc(100% / 12 * 11);
  }

  /* ~**** GUTTER  *****/

  .row.g-xl-05 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.g-xl-05 > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row.g-xl-1 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .row.g-xl-1 > [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.g-xl-2 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .row.g-xl-2 > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row.g-xl-3 {
    margin-left: -30px;
    margin-right: -30px;
  }

  .row.g-xl-3 > [class^="col"] {
    padding-left: 30px;
    padding-right: 30px;
  }

  /*~**** DISPLAY UTILITIES *****/

  .xl-d-none {
    display: none;
  }

  .xl-d-line {
    display: inline;
  }

  .xl-d-line-blk {
    display: inline-block;
  }

  .xl-d-blk {
    display: block;
  }

  /*ç** Display Flex  ***/

  .xl-d-line-flex {
    display: inline-flex;
  }

  .xl-d-flex {
    display: flex;
    flex-direction: row;
  }

  .xl-d-flex-col {
    display: flex;
    flex-direction: column;
  }

  /*~**** ALIGNMENT UTILITIES *****/

  /*ç** Flex alignement ***/

  .xl-content-start {
    justify-content: flex-start;
  }

  .xl-content-center {
    justify-content: center;
  }

  .xl-content-end {
    justify-content: flex-end;
  }

  .xl-content-space-a {
    justify-content: space-around;
  }

  .xl-content-space-btn {
    justify-content: space-between;
  }

  .xl-content-space-evl {
    justify-content: space-evenly;
  }

  /**
   *< Se non specifichiamo l'ALIGN-ITEMS, questo di default ha valore STRETCH
   *< align-items si applica solamente ai figli diretti
   *< e non agli elementi - figli dei figli -)
   */
  .xl-align-start {
    align-items: flex-start;
  }

  .xl-align-center {
    align-items: center;
  }

  .xl-align-end {
    align-items: flex-end;
  }

  /* < Self */

  .xl-self-start {
    align-self: flex-start;
  }

  .xl-self-center {
    align-self: center;
  }

  .xl-self-end {
    align-self: flex-end;
  }

  /*ç** Text Alignement ***/

  .xl-txt-left {
    text-align: left;
  }

  .xl-txt-center {
    text-align: center;
  }

  .xl-txt-right {
    text-align: right;
  }
}
